<ion-header [translucent]="true" >
  <ion-toolbar color="red">
    <ion-title>
      MeAuDote
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="gray">

<ion-grid>
  <ion-row>

    <ion-col >
      <ion-card>

          <img src="assets/img/ft6.jpg">
        <ion-item lines="none" class="ion-no-padding">
        <h2>
          <ion-label>
            FICHA TÉCNICA
          </ion-label>
        </h2>
        </ion-item>
        <div class="item-pet ion-text-wrap">
          <p>
          <ion-icon name="paw"></ion-icon>Totó
        </p>
        </div>
        <div class="item-pet ion-text-wrap">
          <p>
          <ion-icon name="paw"></ion-icon>2 anos
        </p>
        </div>
        <div class="item-pet ion-text-wrap">
          <p>
          <ion-icon name="paw"></ion-icon>Castrado
        </p>
        </div>
        <div class="item-pet ion-text-wrap">
          <p>
          <ion-icon name="paw"></ion-icon>Carinhoso
        </p>
        </div>
      </ion-card>
    </ion-col>

<ion-col>

<ion-card>

    <img src="assets/img/ft7.jpg">
        <ion-item lines="none" class="ion-no-padding">
          <h2>
            <ion-label>
              FICHA TÉCNICA
            </ion-label>
          </h2>
        </ion-item>
        <div class="item-pet ion-text-wrap">
          <p>
          <ion-icon name="paw"></ion-icon>Bob
        </p>
        </div>
        <div class="item-pet ion-text-wrap">
          <p>
          <ion-icon name="paw"></ion-icon>3 anos
        </p>
        </div>
        <div class="item-pet ion-text-wrap">
          <p>
          <ion-icon name="paw"></ion-icon>Castrado
        </p>
        </div>
        <div class="item-pet ion-text-wrap">
          <p>
          <ion-icon name="paw"></ion-icon>Brincalhão
        </p>
        </div>
      </ion-card>
    </ion-col>



<ion-col>
    <ion-card>

      <img src="assets/img/ft5.jpg">
          <ion-item lines="none" class="ion-no-padding">
            <h2>
              <ion-label>
                FICHA TÉCNICA
              </ion-label>
            </h2>
          </ion-item>
          <div class="item-pet ion-text-wrap">
            <p>
            <ion-icon name="paw"></ion-icon>Luck
          </p>
          </div>
          <div class="item-pet ion-text-wrap">
            <p>
            <ion-icon name="paw"></ion-icon>5 anos
          </p>
          </div>
          <div class="item-pet ion-text-wrap">
            <p>
            <ion-icon name="paw"></ion-icon>Castrado
          </p>
          </div>
          <div class="item-pet ion-text-wrap">
            <p>
            <ion-icon name="paw"></ion-icon>Carinhoso
          </p>
          </div>

        </ion-card>
      </ion-col>



      <ion-col>
        <ion-card>

          <img src="assets/img/ft8.jpg">
              <ion-item lines="none" class="ion-no-padding">
                <h2>
                  <ion-label>
                    FICHA TÉCNICA
                  </ion-label>
                </h2>
              </ion-item>
              <div class="item-pet ion-text-wrap">
                <p>
                <ion-icon name="paw"></ion-icon>Rodolfo
              </p>
              </div>
              <div class="item-pet ion-text-wrap">
                <p>
                <ion-icon name="paw"></ion-icon>3 anos
              </p>
              </div>
              <div class="item-pet ion-text-wrap">
                <p>
                <ion-icon name="paw"></ion-icon>Castrado
              </p>
              </div>
              <div class="item-pet ion-text-wrap">
                <p>
                <ion-icon name="paw"></ion-icon>Carinhoso
              </p>
              </div>

            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card>

              <img src="assets/img/ft9.jpg">
                  <ion-item lines="none" class="ion-no-padding">
                    <h2>
                      <ion-label>
                        FICHA TÉCNICA
                      </ion-label>
                    </h2>
                  </ion-item>
                  <div class="item-pet ion-text-wrap">
                    <p>
                    <ion-icon name="paw"></ion-icon>Breno
                  </p>
                  </div>
                  <div class="item-pet ion-text-wrap">
                    <p>
                    <ion-icon name="paw"></ion-icon>4 anos
                  </p>
                  </div>
                  <div class="item-pet ion-text-wrap">
                    <p>
                    <ion-icon name="paw"></ion-icon>Castrado
                  </p>
                  </div>
                  <div class="item-pet ion-text-wrap">
                    <p>
                    <ion-icon name="paw"></ion-icon>Dócil
                  </p>
                  </div>

                </ion-card>
              </ion-col>

              <ion-col>
                <ion-card>

                  <img src="assets/img/ft11.jpg">
                      <ion-item lines="none" class="ion-no-padding">
                        <h2>
                          <ion-label>
                            FICHA TÉCNICA
                          </ion-label>
                        </h2>
                      </ion-item>
                      <div class="item-pet ion-text-wrap">
                        <p>
                        <ion-icon name="paw"></ion-icon>Mirela
                      </p>
                      </div>
                      <div class="item-pet ion-text-wrap">
                        <p>
                        <ion-icon name="paw"></ion-icon>1 ano
                      </p>
                      </div>
                      <div class="item-pet ion-text-wrap">
                        <p>
                        <ion-icon name="paw"></ion-icon>Castrada
                      </p>
                      </div>
                      <div class="item-pet ion-text-wrap">
                        <p>
                        <ion-icon name="paw"></ion-icon>Dócil
                      </p>
                      </div>

                    </ion-card>
                  </ion-col>
                  <ion-col>
                    <ion-card>

                      <img src="assets/img/ft12.jpg">
                          <ion-item lines="none" class="ion-no-padding">
                            <h2>
                              <ion-label>
                                FICHA TÉCNICA
                              </ion-label>
                            </h2>
                          </ion-item>
                          <div class="item-pet ion-text-wrap">
                            <p>
                            <ion-icon name="paw"></ion-icon>Nininha
                          </p>
                          </div>
                          <div class="item-pet ion-text-wrap">
                            <p>
                            <ion-icon name="paw"></ion-icon>4 meses
                          </p>
                          </div>
                          <div class="item-pet ion-text-wrap">
                            <p>
                            <ion-icon name="paw"></ion-icon>Castrada
                          </p>
                          </div>
                          <div class="item-pet ion-text-wrap">
                            <p>
                            <ion-icon name="paw"></ion-icon>Amorosa
                          </p>
                          </div>

                        </ion-card>
                      </ion-col>
                      <ion-col>
                        <ion-card>

                          <img src="assets/img/ft14.jpg">
                              <ion-item lines="none" class="ion-no-padding">
                                <h2>
                                  <ion-label>
                                    FICHA TÉCNICA
                                  </ion-label>
                                </h2>
                              </ion-item>
                              <div class="item-pet ion-text-wrap">
                                <p>
                                <ion-icon name="paw"></ion-icon>Nina
                              </p>
                              </div>
                              <div class="item-pet ion-text-wrap">
                                <p>
                                <ion-icon name="paw"></ion-icon>3 anos
                              </p>
                              </div>
                              <div class="item-pet ion-text-wrap">
                                <p>
                                <ion-icon name="paw"></ion-icon>Castrada
                              </p>
                              </div>
                              <div class="item-pet ion-text-wrap">
                                <p>
                                <ion-icon name="paw"></ion-icon>Dócil
                              </p>
                              </div>

                            </ion-card>
                          </ion-col>
                          <ion-col>
                            <ion-card>

                              <img src="assets/img/ft15.jpg">
                                  <ion-item lines="none" class="ion-no-padding">
                                    <h2>
                                      <ion-label>
                                        FICHA TÉCNICA
                                      </ion-label>
                                    </h2>
                                  </ion-item>
                                  <div class="item-pet ion-text-wrap">
                                    <p>
                                    <ion-icon name="paw"></ion-icon>Marcelo
                                  </p>
                                  </div>
                                  <div class="item-pet ion-text-wrap">
                                    <p>
                                    <ion-icon name="paw"></ion-icon>2 anos
                                  </p>
                                  </div>
                                  <div class="item-pet ion-text-wrap">
                                    <p>
                                    <ion-icon name="paw"></ion-icon>Castrado
                                  </p>
                                  </div>
                                  <div class="item-pet ion-text-wrap">
                                    <p>
                                    <ion-icon name="paw"></ion-icon>Sem um olho
                                  </p>
                                  </div>

                                </ion-card>
                              </ion-col>
                              <ion-col>
                                <ion-card>

                                  <img src="assets/img/ft10.jpg">
                                      <ion-item lines="none" class="ion-no-padding">
                                        <h2>
                                          <ion-label>
                                            FICHA TÉCNICA
                                          </ion-label>
                                        </h2>
                                      </ion-item>
                                      <div class="item-pet ion-text-wrap">
                                        <p>
                                        <ion-icon name="paw"></ion-icon>Marley
                                      </p>
                                      </div>
                                      <div class="item-pet ion-text-wrap">
                                        <p>
                                        <ion-icon name="paw"></ion-icon>1 ano e meio
                                      </p>
                                      </div>
                                      <div class="item-pet ion-text-wrap">
                                        <p>
                                        <ion-icon name="paw"></ion-icon>Castrado
                                      </p>
                                      </div>
                                      <div class="item-pet ion-text-wrap">
                                        <p>
                                        <ion-icon name="paw"></ion-icon>Dócil e brincalhão
                                      </p>
                                      </div>

                                    </ion-card>
                                  </ion-col>

                                  <ion-col>
                                    <ion-card>

                                      <img src="assets/img/ft16.jpg">
                                          <ion-item lines="none" class="ion-no-padding">
                                            <h2>
                                              <ion-label>
                                                FICHA TÉCNICA
                                              </ion-label>
                                            </h2>
                                          </ion-item>
                                          <div class="item-pet ion-text-wrap">
                                            <p>
                                            <ion-icon name="paw"></ion-icon>Cristal
                                          </p>
                                          </div>
                                          <div class="item-pet ion-text-wrap">
                                            <p>
                                            <ion-icon name="paw"></ion-icon>2 meses
                                          </p>
                                          </div>
                                          <div class="item-pet ion-text-wrap">
                                            <p>
                                            <ion-icon name="paw"></ion-icon>Castrada
                                          </p>
                                          </div>
                                          <div class="item-pet ion-text-wrap">
                                            <p>
                                            <ion-icon name="paw"></ion-icon>Espuleta
                                          </p>
                                          </div>

                                        </ion-card>
                                      </ion-col>

                                      <ion-col>
                                        <ion-card>

                                          <img src="assets/img/ft17.jpg">
                                              <ion-item lines="none" class="ion-no-padding">
                                                <h2>
                                                  <ion-label>
                                                    FICHA TÉCNICA
                                                  </ion-label>
                                                </h2>
                                              </ion-item>
                                              <div class="item-pet ion-text-wrap">
                                                <p>
                                                <ion-icon name="paw"></ion-icon>Aladin
                                              </p>
                                              </div>
                                              <div class="item-pet ion-text-wrap">
                                                <p>
                                                <ion-icon name="paw"></ion-icon>5 anos
                                              </p>
                                              </div>
                                              <div class="item-pet ion-text-wrap">
                                                <p>
                                                <ion-icon name="paw"></ion-icon>Castrado
                                              </p>
                                              </div>
                                              <div class="item-pet ion-text-wrap">
                                                <p>
                                                <ion-icon name="paw"></ion-icon>Carinhoso
                                              </p>
                                              </div>

                                            </ion-card>
                                          </ion-col>

  </ion-row>
</ion-grid>

  </ion-content>
